.card{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card:hover{
    box-shadow: 0px 8px 5px rgba(0,0,0,0.3);
}
.card img{
        width: 100%;
        height: 50vh; /* fixed preview height, adjust as needed */
        
}
p{
    margin: 0;
    
}